.diaporama {
  width: 100%;
  /*border: 2px solid red;*/
  height: 90%;
  margin: auto;
  box-sizing: border-box;
}

.diaporama img {
  object-fit: contain;
  width: 100%;
  height: auto;
  max-height: 70%;
}

.diaporama a {
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.diaporama span {
  font-size: 1em;
  color: white;
  text-decoration: none;
}

.decoration {
  display: flex;
  justify-content: space-around;
  font-size: 1.3em;
  margin: 20px;
}

.slider-contain {
  display: flex;
  justify-content: space-around;
}

.slider {
  opacity: 0.5;
  font-size: 6rem;
}
/*.containerSlide {
  width: 600px;
  margin: auto;
  padding-top: 200px;
}

.containerSlide img {
  height: 500px;
}*/
