.instagram-feedback {
  margin-bottom: 50px;
}

.Feed {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 60px;
}

.Feed img {
  height: 300px;
  margin: 30px 30px 30px 30px;
}

@media only screen and (max-device-width: 1200px) {
  .Feed img {
    height: 200px;
  }
}

@media only screen and (max-device-width: 880px) {
  .Feed img {
    height: 180px;
  }
}

@media only screen and (max-device-width: 600px) {
  .Feed img {
    height: 120px;
  }
}
