footer {
  position: fixed;
  bottom: 0px;
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.credit {
  display: flex;
  align-items: center;
  margin: 10px;
  font-weight: lighter;
}

@media only screen and (max-device-width: 1440px) {
  footer {
    width: 100%;
    background: black;
    opacity: 0.8;
  }

  .date {
    display: none;
  }

  .credit {
    margin: auto;
  }
}

@media only screen and (max-device-width: 600px) {
  .credit div p {
    margin: 15px 0;
  }
}
