footer {
  position: fixed;
  bottom: 0px;
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.credit {
  display: flex;
  align-items: center;
  margin: 10px;
  font-weight: lighter;
}
