.header {
  display: flex;
  justify-content: space-between;
  margin: 1.5em;
}

.credit {
  display: flex;
  align-items: center;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 95%;
  display: flex;
  justify-content: space-between;
}

footer .credit {
  margin: 10px;
}
